In [17]:
import pandas as pd
import numpy as np

In [18]:
#Updated the csv -Kev
gdp_df= pd.read_csv("GDP_linregressed.csv")
gdp_df

,Year,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1787,-3793390.12,-4417783.79,-17.75,-58657608.49,-12369.09,-11854.52
1,1788,-3741778.62,-4351169.66,-17.42,-57207984.25,-12196.35,-11624.77
2,1789,-3690167.12,-4284555.53,-17.10,-55758360.01,-12023.61,-11395.03
3,1790,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
4,1791,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
...,...,...,...,...,...,...,...
232,2019,"21,521,395","20,692,100",104.01,"330,513,000","65,115.12","62,606.01"
233,2020,"21,322,950","20,234,100",105.41,"331,800,000","64,266.79","60,985.03"
234,2021,"23,594,031","21,407,700",110.22,"332,367,000","70,991.30","64,412.92"
235,2022,"25,744,108","21,822,000",118.00,"333,568,000","77,171.74","65,414.65"
236,2023,"27,360,900","22,376,900",122.27,"335,208,000","81,623.65","66,755.27"

In [32]:
presidents_df= pd.read_csv("all_us_presidents.csv")
presidents_df.head()

   Years (after inauguration)          President Party
0                        1789  George Washington   NaN
1                        1790  George Washington   NaN
2                        1791  George Washington   NaN
3                        1792  George Washington   NaN
4                        1793  George Washington   NaN

In [20]:
# get values for the years after 2013 for year column
add_years_after_inaguration = presidents_df["Years (after inauguration)"].iloc[-1]

# adding new rows that include Years (after inauguration), name of president and party
new_rows = {
    "Years (after inauguration)": [add_years_after_inaguration + i for i in range(1, 11)],
    "President": ['Barack Obama'] * 3 + ['Donald Trump'] * 4 + ['Joe Biden'] * 3,
    "Party": ['Democrat'] * 3 + ['Republican'] * 4 + ['Democrat'] * 3
}

#new_rows

In [31]:
presidents_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
presidents_df.head()

   Year          President Party
0  1789  George Washington   NaN
1  1790  George Washington   NaN
2  1791  George Washington   NaN
3  1792  George Washington   NaN
4  1793  George Washington   NaN

In [22]:
updated_pres_df =pd.DataFrame(new_rows)
updated_pres_df

   Years (after inauguration)     President       Party
0                        2014  Barack Obama    Democrat
1                        2015  Barack Obama    Democrat
2                        2016  Barack Obama    Democrat
3                        2017  Donald Trump  Republican
4                        2018  Donald Trump  Republican
5                        2019  Donald Trump  Republican
6                        2020  Donald Trump  Republican
7                        2021     Joe Biden    Democrat
8                        2022     Joe Biden    Democrat
9                        2023     Joe Biden    Democrat

In [23]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [24]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [30]:
cleaned_pres_df=pd.concat([presidents_df,updated_pres_df])
cleaned_pres_df.head(15)

    Year          President                  Party
0   1789  George Washington                    NaN
1   1790  George Washington                    NaN
2   1791  George Washington                    NaN
3   1792  George Washington                    NaN
4   1793  George Washington                    NaN
5   1794  George Washington                    NaN
6   1795  George Washington                    NaN
7   1796  George Washington                    NaN
8   1797         John Adams             Federalist
9   1798         John Adams             Federalist
10  1799         John Adams             Federalist
11  1800         John Adams             Federalist
12  1801   Thomas Jefferson  Democratic-Republican
13  1802   Thomas Jefferson  Democratic-Republican
14  1803   Thomas Jefferson  Democratic-Republican

In [26]:
cleaned_pres_df.to_csv("cleaned_pres_df.csv", index=False)

In [28]:
presidentfinal_df =pd.merge(cleaned_pres_df, gdp_df, on="Year")
presidentfinal_df.head(10)

,Year,President,Party,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1789,George Washington,NaN,-3690167.12,-4284555.53,-17.10,-55758360.01,-12023.61,-11395.03
1,1790,George Washington,NaN,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
2,1791,George Washington,NaN,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
3,1792,George Washington,NaN,230,"5,663",4.05,"4,171,000",55.03,"1,357.63"
4,1793,George Washington,NaN,256,"6,113",4.19,"4,297,000",59.67,"1,422.52"
5,1794,George Washington,NaN,321,"6,905",4.65,"4,428,000",72.56,"1,559.46"
6,1795,George Washington,NaN,390,"7,331",5.32,"4,562,000",85.53,"1,607.03"
7,1796,George Washington,NaN,423,"7,553",5.60,"4,700,000",90.06,"1,606.92"
8,1797,John Adams,Federalist,415,"7,692",5.39,"4,843,000",85.65,"1,588.26"
9,1798,John Adams,Federalist,418,"8,009",5.22,"4,990,000",83.73,"1,605.09"

In [29]:
presidentfinal_df.to_csv("presidentfinal_df.csv", index=False)