In [39]:
import pandas as pd
import numpy as np

In [14]:
#Updated the csv -Kev
gdp_df= pd.read_csv("GDP_logregressed.csv")
gdp_df

,Year,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1787,125.45,6411.44,1.96,6450056.32,19.45,994.01
1,1788,131.89,6648.35,1.98,6573085.52,20.07,1011.45
2,1789,138.66,6894.01,2.01,6698461.39,20.7,1029.19
3,1790,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
4,1791,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
...,...,...,...,...,...,...,...
232,2019,"21,521,395","20,692,100",104.01,"330,513,000","65,115.12","62,606.01"
233,2020,"21,322,950","20,234,100",105.41,"331,800,000","64,266.79","60,985.03"
234,2021,"23,594,031","21,407,700",110.22,"332,367,000","70,991.30","64,412.92"
235,2022,"25,744,108","21,822,000",118.00,"333,568,000","77,171.74","65,414.65"
236,2023,"27,360,900","22,376,900",122.27,"335,208,000","81,623.65","66,755.27"

In [15]:
presidents_df= pd.read_csv("all_us_presidents.csv")
presidents_df.head()

   Years (after inauguration)          President Party
0                        1789  George Washington   NaN
1                        1790  George Washington   NaN
2                        1791  George Washington   NaN
3                        1792  George Washington   NaN
4                        1793  George Washington   NaN

In [16]:
# get values for the years after 2013 for year column
add_years_after_inaguration = presidents_df["Years (after inauguration)"].iloc[-1]

# adding new rows that include Years (after inauguration), name of president and party
new_rows = {
    "Years (after inauguration)": [add_years_after_inaguration + i for i in range(1, 11)],
    "President": ['Barack Obama'] * 3 + ['Donald Trump'] * 4 + ['Joe Biden'] * 3,
    "Party": ['Democrat'] * 3 + ['Republican'] * 4 + ['Democrat'] * 3
}

#new_rows

In [17]:
presidents_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
presidents_df.head()

   Year          President Party
0  1789  George Washington   NaN
1  1790  George Washington   NaN
2  1791  George Washington   NaN
3  1792  George Washington   NaN
4  1793  George Washington   NaN

In [18]:
updated_pres_df =pd.DataFrame(new_rows)
updated_pres_df

   Years (after inauguration)     President       Party
0                        2014  Barack Obama    Democrat
1                        2015  Barack Obama    Democrat
2                        2016  Barack Obama    Democrat
3                        2017  Donald Trump  Republican
4                        2018  Donald Trump  Republican
5                        2019  Donald Trump  Republican
6                        2020  Donald Trump  Republican
7                        2021     Joe Biden    Democrat
8                        2022     Joe Biden    Democrat
9                        2023     Joe Biden    Democrat

In [19]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [20]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [21]:
cleaned_pres_df=pd.concat([presidents_df,updated_pres_df])
cleaned_pres_df.head(15)

    Year          President                  Party
0   1789  George Washington                    NaN
1   1790  George Washington                    NaN
2   1791  George Washington                    NaN
3   1792  George Washington                    NaN
4   1793  George Washington                    NaN
5   1794  George Washington                    NaN
6   1795  George Washington                    NaN
7   1796  George Washington                    NaN
8   1797         John Adams             Federalist
9   1798         John Adams             Federalist
10  1799         John Adams             Federalist
11  1800         John Adams             Federalist
12  1801   Thomas Jefferson  Democratic-Republican
13  1802   Thomas Jefferson  Democratic-Republican
14  1803   Thomas Jefferson  Democratic-Republican

In [22]:
cleaned_pres_df.to_csv("cleaned_pres_df.csv", index=False)

In [23]:
presidentfinal_df =pd.merge(cleaned_pres_df, gdp_df, on="Year")
presidentfinal_df.head(10)

,Year,President,Party,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1789,George Washington,NaN,138.66,6894.01,2.01,6698461.39,20.7,1029.19
1,1790,George Washington,NaN,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
2,1791,George Washington,NaN,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
3,1792,George Washington,NaN,230,"5,663",4.05,"4,171,000",55.03,"1,357.63"
4,1793,George Washington,NaN,256,"6,113",4.19,"4,297,000",59.67,"1,422.52"
5,1794,George Washington,NaN,321,"6,905",4.65,"4,428,000",72.56,"1,559.46"
6,1795,George Washington,NaN,390,"7,331",5.32,"4,562,000",85.53,"1,607.03"
7,1796,George Washington,NaN,423,"7,553",5.60,"4,700,000",90.06,"1,606.92"
8,1797,John Adams,Federalist,415,"7,692",5.39,"4,843,000",85.65,"1,588.26"
9,1798,John Adams,Federalist,418,"8,009",5.22,"4,990,000",83.73,"1,605.09"

In [24]:
presidentfinal_df.to_csv("presidentfinal_df.csv", index=False)

In [61]:
#importing birthdate of presidents csv
birthday_df= pd.read_csv("birthdates-of-us-presidents.csv")
birthday_df.rename(columns={'Date of Birth': 'birthday'}, inplace=True)
birthday_df['birthday'] = pd.to_datetime(birthday_df['birthday'])
birthday_df.head()

ValueError: time data "9/1/1913" doesn't match format "%Y-%m-%d", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [59]:
#importing presidential zodiac sign csv
zodiac_df= pd.read_csv("presidential_zodiac_sign.csv")
zodiac_df.rename(columns={'Birthday': 'birthday'})
zodiac_df

        President    Birthday         Sign
0      Washington  1732-02-22       Pisces
1        J. Adams  1735-10-30      Scorpio
2       Jefferson  1743-04-13        Aries
3         Madison  1751-03-16       Pisces
4          Monroe  1758-04-28       Taurus
5      J.Q. Adams  1767-07-11       Cancer
6         Jackson  1767-03-15       Pisces
7       Van Buren  1782-12-05  Sagittarius
8   W.H. Harrison  1773-02-09     Aquarius
9            Polk  1795-11-02      Scorpio
10         Taylor  1784-11-24  Sagittarius
11         Pierce  1804-11-23  Sagittarius
12       Buchanan  1791-04-23       Taurus
13        Lincoln  1809-02-12     Aquarius
14          Grant  1822-04-27       Taurus
15          Hayes  1822-10-04        Libra
16       Garfield  1831-11-19      Scorpio
17      Cleveland  1837-03-18       Pisces
18    B. Harrison  1833-08-20          Leo
19       McKinley  1843-01-29     Aquarius
20   T. Roosevelt  1858-10-27      Scorpio
21           Taft  1857-09-15        Virgo
22         Wilson  1856-12-28    Capricorn
23        Harding  1865-11-02      Scorpio
24       Coolidge  1872-07-04       Cancer
25         Hoover  1874-08-10          Leo
26   F. Roosevelt  1882-01-30     Aquarius
27         Truman  1884-05-08       Taurus
28     Eisenhower  1890-10-14        Libra
29        Kennedy   5/29/2017       Gemini
30     L. Johnson   8/27/1908        Virgo
31          Nixon    1/9/1913    Capricorn
32         Carter   10/1/1924        Libra
33         Reagan    2/6/1911     Aquarius
34    G.H.W. Bush   6/12/1924       Gemini
35        Clinton   8/19/1946          Leo
36      G.W. Bush    7/6/1946       Cancer
37          Obama    8/4/1961          Leo
38          Trump   1946-0614       Gemini
39          Biden  11/20/1942       Taurus

In [55]:
pres_zodiac_df =pd.merge(birthday_df, zodiac_df, on='birthday')
pres_zodiac_df.head(10)

KeyError: 'birthday'