In [1]:
import pandas as pd
import numpy as np

In [2]:
#Updated the csv -Kev
gdp_df= pd.read_csv("GDP_linregressed.csv")
gdp_df

,Year,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1787,-3793390.120225683,-4417783.78844519,-17.745336,-58657608.48919964,-12369.091694733419,-11854.519408716587
1,1788,-3741778.618236169,-4351169.657969341,-17.423731,-57207984.24925852,-12196.349527349113,-11624.774677763518
2,1789,-3690167.1162466556,-4284555.527493492,-17.102126,-55758360.0093174,-12023.607359964808,-11395.029946810508
3,1790,193,"4,975",3.880000,"3,929,000",49.1,"1,266.23"
4,1791,210,"5,274",3.980000,"4,048,000",51.89,"1,302.85"
...,...,...,...,...,...,...,...
232,2019,"21,521,395","20,692,100",104.010000,"330,513,000","65,115.12","62,606.01"
233,2020,"21,322,950","20,234,100",105.410000,"331,800,000","64,266.79","60,985.03"
234,2021,"23,594,031","21,407,700",110.220000,"332,367,000","70,991.30","64,412.92"
235,2022,"25,744,108","21,822,000",118.000000,"333,568,000","77,171.74","65,414.65"
236,2023,"27,360,900","22,376,900",122.270000,"335,208,000","81,623.65","66,755.27"

In [3]:
presidents_df= pd.read_csv("all_us_presidents.csv")
presidents_df.head()

   Years (after inauguration)          President Party
0                        1789  George Washington   NaN
1                        1790  George Washington   NaN
2                        1791  George Washington   NaN
3                        1792  George Washington   NaN
4                        1793  George Washington   NaN

In [4]:
# get values for the years after 2013 for year column
add_years_after_inaguration = presidents_df["Years (after inauguration)"].iloc[-1]

# adding new rows that include Years (after inauguration), name of president and party
new_rows = {
    "Years (after inauguration)": [add_years_after_inaguration + i for i in range(1, 11)],
    "President": ['Barack Obama'] * 3 + ['Donald Trump'] * 4 + ['Joe Biden'] * 3,
    "Party": ['Democrat'] * 3 + ['Republican'] * 4 + ['Democrat'] * 3
}

#new_rows

In [5]:
presidents_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
presidents_df.head()

   Year          President Party
0  1789  George Washington   NaN
1  1790  George Washington   NaN
2  1791  George Washington   NaN
3  1792  George Washington   NaN
4  1793  George Washington   NaN

In [6]:
updated_pres_df =pd.DataFrame(new_rows)
updated_pres_df

   Years (after inauguration)     President       Party
0                        2014  Barack Obama    Democrat
1                        2015  Barack Obama    Democrat
2                        2016  Barack Obama    Democrat
3                        2017  Donald Trump  Republican
4                        2018  Donald Trump  Republican
5                        2019  Donald Trump  Republican
6                        2020  Donald Trump  Republican
7                        2021     Joe Biden    Democrat
8                        2022     Joe Biden    Democrat
9                        2023     Joe Biden    Democrat

In [7]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [8]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [9]:
cleaned_pres_df=pd.concat([presidents_df,updated_pres_df])
cleaned_pres_df.tail(15)

     Year     President       Party
222  2009  Barack Obama    Democrat
223  2010  Barack Obama    Democrat
224  2011  Barack Obama    Democrat
225  2012  Barack Obama    Democrat
226  2013  Barack Obama    Democrat
0    2014  Barack Obama    Democrat
1    2015  Barack Obama    Democrat
2    2016  Barack Obama    Democrat
3    2017  Donald Trump  Republican
4    2018  Donald Trump  Republican
5    2019  Donald Trump  Republican
6    2020  Donald Trump  Republican
7    2021     Joe Biden    Democrat
8    2022     Joe Biden    Democrat
9    2023     Joe Biden    Democrat

In [10]:
cleaned_pres_df.loc[cleaned_pres_df["President"] == "George Washington", "Party"] = "Independent"
cleaned_pres_df.tail()

   Year     President       Party
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [11]:
# Function to split names correctly
def split_name(full_name):
    period_count = full_name.count('.')
    # Check if there are at least two periods
    if full_name.count('.') >= 2:
        # Split by the second period and keep only the part after the second period
        parts = full_name.split('.', 2)  # Max split into 3 parts
        first_name = parts[0] + '.' + parts[1]  # Combine first two parts
        last_name = parts[2]
    
    elif period_count == 1:
        # Case: Exactly one period, split by the first period
        parts = full_name.split('.', 1)
        first_name = parts[0]
        last_name = parts[1]
    else:   
        # If there are less than two periods, just split by space
        parts = full_name.split()
        first_name = parts[0]
        last_name = parts[-1]
    
    return pd.Series([first_name, last_name])

In [12]:
# Apply the function to split the 'President' column
cleaned_pres_df[['first_name', 'last_name']] = cleaned_pres_df['President'].apply(split_name)
cleaned_pres_df

# Need to figure out a way to separate George H.W. Bush only one with 2 initials

    Year          President        Party first_name   last_name
0   1789  George Washington  Independent     George  Washington
1   1790  George Washington  Independent     George  Washington
2   1791  George Washington  Independent     George  Washington
3   1792  George Washington  Independent     George  Washington
4   1793  George Washington  Independent     George  Washington
..   ...                ...          ...        ...         ...
5   2019       Donald Trump   Republican     Donald       Trump
6   2020       Donald Trump   Republican     Donald       Trump
7   2021          Joe Biden     Democrat        Joe       Biden
8   2022          Joe Biden     Democrat        Joe       Biden
9   2023          Joe Biden     Democrat        Joe       Biden

[237 rows x 5 columns]

In [13]:
# Drop the original 'President' column
cleaned_pres_df = cleaned_pres_df.drop(columns=['President'])
cleaned_pres_df.tail(15)

     Year       Party first_name last_name
222  2009    Democrat     Barack     Obama
223  2010    Democrat     Barack     Obama
224  2011    Democrat     Barack     Obama
225  2012    Democrat     Barack     Obama
226  2013    Democrat     Barack     Obama
0    2014    Democrat     Barack     Obama
1    2015    Democrat     Barack     Obama
2    2016    Democrat     Barack     Obama
3    2017  Republican     Donald     Trump
4    2018  Republican     Donald     Trump
5    2019  Republican     Donald     Trump
6    2020  Republican     Donald     Trump
7    2021    Democrat        Joe     Biden
8    2022    Democrat        Joe     Biden
9    2023    Democrat        Joe     Biden

In [14]:
cleaned_pres_df.to_csv("cleaned_pres_df.csv", index=False)

In [15]:
presidentfinal_df =pd.merge(cleaned_pres_df, gdp_df, on="Year")
presidentfinal_df.head(10)

,Year,Party,first_name,last_name,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1789,Independent,George,Washington,-3690167.1162466556,-4284555.527493492,-17.102126,-55758360.0093174,-12023.607359964808,-11395.029946810508
1,1790,Independent,George,Washington,193,"4,975",3.880000,"3,929,000",49.1,"1,266.23"
2,1791,Independent,George,Washington,210,"5,274",3.980000,"4,048,000",51.89,"1,302.85"
3,1792,Independent,George,Washington,230,"5,663",4.050000,"4,171,000",55.03,"1,357.63"
4,1793,Independent,George,Washington,256,"6,113",4.190000,"4,297,000",59.67,"1,422.52"
5,1794,Independent,George,Washington,321,"6,905",4.650000,"4,428,000",72.56,"1,559.46"
6,1795,Independent,George,Washington,390,"7,331",5.320000,"4,562,000",85.53,"1,607.03"
7,1796,Independent,George,Washington,423,"7,553",5.600000,"4,700,000",90.06,"1,606.92"
8,1797,Federalist,John,Adams,415,"7,692",5.390000,"4,843,000",85.65,"1,588.26"
9,1798,Federalist,John,Adams,418,"8,009",5.220000,"4,990,000",83.73,"1,605.09"

In [16]:
presidentfinal_df.to_csv("presidentfinal_df.csv", index=False)

In [17]:
# #importing birthdate of presidents csv
# birthday_df= pd.read_csv("birthdates-of-us-presidents.csv")
# birthday_df.rename(columns={'Birth Date': 'birthday'}, inplace=True)
# birthday_df['birthday'] = pd.to_datetime(birthday_df['birthday'])
# birthday_df

In [18]:
# pres_zodiac_df =pd.merge(birthday_df, zodiac_df, on='birthday')
# pres_zodiac_df.head(10)

In [19]:
zodiacs_df = pd.read_csv("zodiacs.csv")
zodiacs_df = zodiacs_df.drop(columns=["ASCENDANT", "MIDHEAVEN", "MOON", "MERCURY"])
zodiacs_df = zodiacs_df.rename(columns= {
    "OP": "index",
    "PRESIDENT": "president",
    "SUN": "sign"
})
zodiacs_df= zodiacs_df.drop([46,47])
zodiacs_df

   index               president         sign
0      1       George Washington       Pisces
1      2              John Adams      Scorpio
2      3        Thomas Jefferson        Aries
3      4           James Madison       Pisces
4      5            James Monroe       Taurus
5      6           John Q. Adams       Cancer
6      7          Andrew Jackson       Pisces
7      8        Martin Van Buren  Sagittarius
8      9  William Henry Harrison     Aquarius
9     10              John Tyler        Aries
10    11           James K. Polk      Scorpio
11    12          Zachary Taylor  Sagittarius
12    13        Millard Fillmore    Capricorn
13    14         Franklin Pierce  Sagittarius
14    15          James Buchanan       Taurus
15    16         Abraham Lincoln     Aquarius
16    17          Andrew Johnson    Capricorn
17    18        Ulysses S. Grant       Taurus
18    19     Rutherford B. Hayes        Libra
19    20       James A. Garfield      Scorpio
20    21       Chester A. Arthur        Libra
21    22        Grover Cleveland       Pisces
22    23       Benjamin Harrison          Leo
23    24        Grover Cleveland          NaN
24    25        William McKinley     Aquarius
25    26      Theodore Roosevelt      Scorpio
26    27     William Howard Taft        Virgo
27    28          Woodrow Wilson    Capricorn
28    29       Warren G. Harding      Scorpio
29    30         Calvin Coolidge       Cancer
30    31          Herbert Hoover          Leo
31    32   Franklin D. Roosevelt     Aquarius
32    33         Harry S. Truman       Taurus
33    34    Dwight D. Eisenhower        Libra
34    35         John F. Kennedy       Gemini
35    36       Lyndon B. Johnson        Virgo
36    37           Richard Nixon    Capricorn
37    38             Gerald Ford       Cancer
38    39            Jimmy Carter        Libra
39    40           Ronald Reagan     Aquarius
40    41       George H. W. Bush       Gemini
41    42            Bill Clinton          Leo
42    43          George W. Bush       Cancer
43    44            Barack Obama          Leo
44    45         Donald J. Trump       Gemini
45    46         Joseph R. Biden      Scorpio

In [20]:
def split_name(full_name):
    period_count = full_name.count('.')
    # Check if there are at least two periods
    if full_name.count('.') >= 2:
        # Split by the second period and keep only the part after the second period
        parts = full_name.split('.', 2)  # Max split into 3 parts
        first_name = parts[0] + '.' + parts[1]  # Combine first two parts
        last_name = parts[2]
    
    elif period_count == 1:
        # Case: Exactly one period, split by the first period
        parts = full_name.split('.', 1)
        first_name = parts[0]
        last_name = parts[1]
    else:   
        # If there are less than two periods, just split by space
        parts = full_name.split()
        first_name = parts[0]
        last_name = parts[-1]
    
    return pd.Series([first_name, last_name])

In [21]:
# Apply the function to split the 'President' column
zodiacs_df[['First Name', 'Last Name']] = zodiacs_df['president'].apply(split_name)
# zodiacs_df.drop(columns="president")
zodiacs_df

   index               president         sign    First Name    Last Name
0      1       George Washington       Pisces        George   Washington
1      2              John Adams      Scorpio          John        Adams
2      3        Thomas Jefferson        Aries        Thomas    Jefferson
3      4           James Madison       Pisces         James      Madison
4      5            James Monroe       Taurus         James       Monroe
5      6           John Q. Adams       Cancer        John Q        Adams
6      7          Andrew Jackson       Pisces        Andrew      Jackson
7      8        Martin Van Buren  Sagittarius        Martin        Buren
8      9  William Henry Harrison     Aquarius       William     Harrison
9     10              John Tyler        Aries          John        Tyler
10    11           James K. Polk      Scorpio       James K         Polk
11    12          Zachary Taylor  Sagittarius       Zachary       Taylor
12    13        Millard Fillmore    Capricorn       Millard     Fillmore
13    14         Franklin Pierce  Sagittarius      Franklin       Pierce
14    15          James Buchanan       Taurus         James     Buchanan
15    16         Abraham Lincoln     Aquarius       Abraham      Lincoln
16    17          Andrew Johnson    Capricorn        Andrew      Johnson
17    18        Ulysses S. Grant       Taurus     Ulysses S        Grant
18    19     Rutherford B. Hayes        Libra  Rutherford B        Hayes
19    20       James A. Garfield      Scorpio       James A     Garfield
20    21       Chester A. Arthur        Libra     Chester A       Arthur
21    22        Grover Cleveland       Pisces        Grover    Cleveland
22    23       Benjamin Harrison          Leo      Benjamin     Harrison
23    24        Grover Cleveland          NaN        Grover    Cleveland
24    25        William McKinley     Aquarius       William     McKinley
25    26      Theodore Roosevelt      Scorpio      Theodore    Roosevelt
26    27     William Howard Taft        Virgo       William         Taft
27    28          Woodrow Wilson    Capricorn       Woodrow       Wilson
28    29       Warren G. Harding      Scorpio      Warren G      Harding
29    30         Calvin Coolidge       Cancer        Calvin     Coolidge
30    31          Herbert Hoover          Leo       Herbert       Hoover
31    32   Franklin D. Roosevelt     Aquarius    Franklin D    Roosevelt
32    33         Harry S. Truman       Taurus       Harry S       Truman
33    34    Dwight D. Eisenhower        Libra      Dwight D   Eisenhower
34    35         John F. Kennedy       Gemini        John F      Kennedy
35    36       Lyndon B. Johnson        Virgo      Lyndon B      Johnson
36    37           Richard Nixon    Capricorn       Richard        Nixon
37    38             Gerald Ford       Cancer        Gerald         Ford
38    39            Jimmy Carter        Libra         Jimmy       Carter
39    40           Ronald Reagan     Aquarius        Ronald       Reagan
40    41       George H. W. Bush       Gemini   George H. W         Bush
41    42            Bill Clinton          Leo          Bill      Clinton
42    43          George W. Bush       Cancer      George W         Bush
43    44            Barack Obama          Leo        Barack        Obama
44    45         Donald J. Trump       Gemini      Donald J        Trump
45    46         Joseph R. Biden      Scorpio      Joseph R        Biden

In [22]:
zodiacs_df.to_csv("zodiacs_df.csv", index=False)