In [1]:
import pandas as pd
import numpy as np

In [2]:
#Updated the csv -Kev
gdp_df= pd.read_csv("GDP_linregressed.csv")
gdp_df

,Year,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1787,-3793390.120225683,-4417783.78844519,-17.745336,-58657608.48919964,-12369.091694733419,-11854.519408716587
1,1788,-3741778.618236169,-4351169.657969341,-17.423731,-57207984.24925852,-12196.349527349113,-11624.774677763518
2,1789,-3690167.1162466556,-4284555.527493492,-17.102126,-55758360.0093174,-12023.607359964808,-11395.029946810508
3,1790,193,"4,975",3.880000,"3,929,000",49.1,"1,266.23"
4,1791,210,"5,274",3.980000,"4,048,000",51.89,"1,302.85"
...,...,...,...,...,...,...,...
232,2019,"21,521,395","20,692,100",104.010000,"330,513,000","65,115.12","62,606.01"
233,2020,"21,322,950","20,234,100",105.410000,"331,800,000","64,266.79","60,985.03"
234,2021,"23,594,031","21,407,700",110.220000,"332,367,000","70,991.30","64,412.92"
235,2022,"25,744,108","21,822,000",118.000000,"333,568,000","77,171.74","65,414.65"
236,2023,"27,360,900","22,376,900",122.270000,"335,208,000","81,623.65","66,755.27"

In [3]:
presidents_df= pd.read_csv("all_us_presidents.csv")
presidents_df.head()

   Years (after inauguration)          President Party
0                        1789  George Washington   NaN
1                        1790  George Washington   NaN
2                        1791  George Washington   NaN
3                        1792  George Washington   NaN
4                        1793  George Washington   NaN

In [4]:
# get values for the years after 2013 for year column
add_years_after_inaguration = presidents_df["Years (after inauguration)"].iloc[-1]

# adding new rows that include Years (after inauguration), name of president and party
new_rows = {
    "Years (after inauguration)": [add_years_after_inaguration + i for i in range(1, 11)],
    "President": ['Barack Obama'] * 3 + ['Donald Trump'] * 4 + ['Joe Biden'] * 3,
    "Party": ['Democrat'] * 3 + ['Republican'] * 4 + ['Democrat'] * 3
}

#new_rows

In [5]:
presidents_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
presidents_df.head()

   Year          President Party
0  1789  George Washington   NaN
1  1790  George Washington   NaN
2  1791  George Washington   NaN
3  1792  George Washington   NaN
4  1793  George Washington   NaN

In [6]:
updated_pres_df =pd.DataFrame(new_rows)
updated_pres_df

   Years (after inauguration)     President       Party
0                        2014  Barack Obama    Democrat
1                        2015  Barack Obama    Democrat
2                        2016  Barack Obama    Democrat
3                        2017  Donald Trump  Republican
4                        2018  Donald Trump  Republican
5                        2019  Donald Trump  Republican
6                        2020  Donald Trump  Republican
7                        2021     Joe Biden    Democrat
8                        2022     Joe Biden    Democrat
9                        2023     Joe Biden    Democrat

In [7]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [8]:
updated_pres_df.rename(columns={'Years (after inauguration)': 'Year'}, inplace=True)
updated_pres_df

   Year     President       Party
0  2014  Barack Obama    Democrat
1  2015  Barack Obama    Democrat
2  2016  Barack Obama    Democrat
3  2017  Donald Trump  Republican
4  2018  Donald Trump  Republican
5  2019  Donald Trump  Republican
6  2020  Donald Trump  Republican
7  2021     Joe Biden    Democrat
8  2022     Joe Biden    Democrat
9  2023     Joe Biden    Democrat

In [9]:
cleaned_pres_df=pd.concat([presidents_df,updated_pres_df])
cleaned_pres_df.tail(15)

     Year     President       Party
222  2009  Barack Obama    Democrat
223  2010  Barack Obama    Democrat
224  2011  Barack Obama    Democrat
225  2012  Barack Obama    Democrat
226  2013  Barack Obama    Democrat
0    2014  Barack Obama    Democrat
1    2015  Barack Obama    Democrat
2    2016  Barack Obama    Democrat
3    2017  Donald Trump  Republican
4    2018  Donald Trump  Republican
5    2019  Donald Trump  Republican
6    2020  Donald Trump  Republican
7    2021     Joe Biden    Democrat
8    2022     Joe Biden    Democrat
9    2023     Joe Biden    Democrat

In [10]:
cleaned_pres_df.loc[cleaned_pres_df["President"] == "George Washington", "Party"] = "Independent"
cleaned_pres_df.tail(25)

     Year       President       Party
212  1999    Bill Clinton    Democrat
213  2000    Bill Clinton    Democrat
214  2001  George W. Bush  Republican
215  2002  George W. Bush  Republican
216  2003  George W. Bush  Republican
217  2004  George W. Bush  Republican
218  2005  George W. Bush  Republican
219  2006  George W. Bush  Republican
220  2007  George W. Bush  Republican
221  2008  George W. Bush  Republican
222  2009    Barack Obama    Democrat
223  2010    Barack Obama    Democrat
224  2011    Barack Obama    Democrat
225  2012    Barack Obama    Democrat
226  2013    Barack Obama    Democrat
0    2014    Barack Obama    Democrat
1    2015    Barack Obama    Democrat
2    2016    Barack Obama    Democrat
3    2017    Donald Trump  Republican
4    2018    Donald Trump  Republican
5    2019    Donald Trump  Republican
6    2020    Donald Trump  Republican
7    2021       Joe Biden    Democrat
8    2022       Joe Biden    Democrat
9    2023       Joe Biden    Democrat

In [11]:
# Function to split names correctly
def split_name(full_name):
    parts = full_name.split()
    first_name = parts[0]
    last_name = parts[-1]
    return pd.Series([first_name, last_name])

In [12]:
# Apply the function to split the 'President' column
cleaned_pres_df[['First Name', 'Last Name']] = cleaned_pres_df['President'].apply(split_name)
cleaned_pres_df

# Need to figure out a way to separate George H.W. Bush only one with 2 initials

    Year          President        Party First Name   Last Name
0   1789  George Washington  Independent     George  Washington
1   1790  George Washington  Independent     George  Washington
2   1791  George Washington  Independent     George  Washington
3   1792  George Washington  Independent     George  Washington
4   1793  George Washington  Independent     George  Washington
..   ...                ...          ...        ...         ...
5   2019       Donald Trump   Republican     Donald       Trump
6   2020       Donald Trump   Republican     Donald       Trump
7   2021          Joe Biden     Democrat        Joe       Biden
8   2022          Joe Biden     Democrat        Joe       Biden
9   2023          Joe Biden     Democrat        Joe       Biden

[237 rows x 5 columns]

In [13]:
# Drop the original 'President' column
cleaned_pres_df = cleaned_pres_df.drop(columns=['President'])
cleaned_pres_df

    Year        Party First Name   Last Name
0   1789  Independent     George  Washington
1   1790  Independent     George  Washington
2   1791  Independent     George  Washington
3   1792  Independent     George  Washington
4   1793  Independent     George  Washington
..   ...          ...        ...         ...
5   2019   Republican     Donald       Trump
6   2020   Republican     Donald       Trump
7   2021     Democrat        Joe       Biden
8   2022     Democrat        Joe       Biden
9   2023     Democrat        Joe       Biden

[237 rows x 4 columns]

In [16]:
cleaned_pres_df.to_csv("cleaned_pres_df.csv", index=False)

In [ ]:
presidentfinal_df =pd.merge(cleaned_pres_df, gdp_df, on="Year")
presidentfinal_df.head(10)

,Year,Party,First Name,Last Name,Nominal GDP (million of Dollars),Real GDP (millions of 2017 dollars),GDP Deflator (index 2017=100),Population,Nominal GDP per capita (current dollars),Real GDP per capita (year 2017 dollars)
0,1789,Independent,George,Washington,-3690167.1162466556,-4284555.527493492,-17.102126,-55758360.0093174,-12023.607359964808,-11395.029946810508
1,1790,Independent,George,Washington,193,"4,975",3.880000,"3,929,000",49.1,"1,266.23"
2,1791,Independent,George,Washington,210,"5,274",3.980000,"4,048,000",51.89,"1,302.85"
3,1792,Independent,George,Washington,230,"5,663",4.050000,"4,171,000",55.03,"1,357.63"
4,1793,Independent,George,Washington,256,"6,113",4.190000,"4,297,000",59.67,"1,422.52"
5,1794,Independent,George,Washington,321,"6,905",4.650000,"4,428,000",72.56,"1,559.46"
6,1795,Independent,George,Washington,390,"7,331",5.320000,"4,562,000",85.53,"1,607.03"
7,1796,Independent,George,Washington,423,"7,553",5.600000,"4,700,000",90.06,"1,606.92"
8,1797,Federalist,John,Adams,415,"7,692",5.390000,"4,843,000",85.65,"1,588.26"
9,1798,Federalist,John,Adams,418,"8,009",5.220000,"4,990,000",83.73,"1,605.09"

In [ ]:
presidentfinal_df.to_csv("presidentfinal_df.csv", index=False)

In [ ]:
#importing birthdate of presidents csv
birthday_df= pd.read_csv("birthdates-of-us-presidents.csv")
birthday_df.rename(columns={'Birth Date': 'birthday'}, inplace=True)
birthday_df['birthday'] = pd.to_datetime(birthday_df['birthday'])
birthday_df

,index,Number,President,Colleges,Birth City,Birth State,birthday,Death City,Death State,Death Date,Left office,Took office,Party
0,0,1,George Washington,The College of William and Mary,Mount Vernon,VA,1732-02-22,Mount Vernon,VA,12/14/1799,3/4/1797,4/30/1789,Independent
1,1,2,John Adams,Harvard University,Quincy,MA,1735-10-30,Quincy,MA,7/4/1826,3/4/1801,3/4/1797,Federalist Party
2,2,3,Thomas Jefferson,The College of William and Mary,Shadwell,VA,1743-04-13,Charlottesville,VA,7/4/1826,3/4/1809,3/4/1801,Democratic - Republican Party
3,3,4,James Madison,Princeton University,Port Conway,VA,1751-03-16,Orange,VA,6/28/1836,3/4/1817,3/4/1809,Democratic - Republican Party
4,4,5,James Monroe,The College of William and Mary,Monroe Hall,VA,1758-04-28,New York,NY,7/4/1831,3/4/1825,3/4/1817,Democratic - Republican Party
5,5,6,John Quincy Adams,"Harvard University, Leiden University",Quincy,MA,1767-07-11,Washington,DC,2/23/1848,3/4/1829,3/4/1825,Democratic - Republican Party
6,6,7,Andrew Jackson,Did Not Graduate,Waxhaws,NC,1767-03-15,Nashville,TN,6/8/1845,3/4/1837,3/4/1829,Democratic Party
7,7,8,Martin Van Buren,Did Not Graduate,Kinderhook,NY,1782-12-05,Kinderhook,NY,7/24/1862,3/4/1841,3/4/1837,Democratic Party
8,8,9,William Henry Harrison,"Hampdenâ€“Sydney College, University of Pennsylv...",Charles City Co.,VA,1773-02-09,Washington,DC,4/4/1841,4/4/1841,3/4/1841,Whig Party
9,9,10,John Tyler,The College of William and Mary,Charles City Co.,VA,1790-03-29,Richmond,VA,1/18/1862,3/4/1845,4/4/1841,Whig Party
10,10,11,James K. Polk,University of North Carolina at Chapel Hill,Mecklenburg Co.,NC,1795-11-02,Nashville,TN,6/15/1849,3/4/1849,3/4/1845,Democratic Party
11,11,12,Zachary Taylor,Did Not Graduate,Orange County,VA,1784-11-24,Washington,DC,7/9/1850,7/9/1850,3/4/1849,Whig Party
12,12,13,Millard Fillmore,Did Not Graduate,Cayuga Co.,NY,1800-01-07,Buffalo,NY,3/8/1874,3/4/1853,7/9/1850,Whig Party
13,13,14,Franklin Pierce,"Bowdoin College, Northampton Law School",Hillsborough,NH,1804-11-23,Concord,NH,10/8/1869,3/4/1857,3/4/1853,Democratic Party
14,14,15,James Buchanan,Dickinson College,Cove Gap,PA,1791-04-23,Lancaster,PA,6/1/1868,3/4/1861,3/4/1857,Democratic Party
15,15,16,Abraham Lincoln,Did Not Graduate,LaRue Co.,KY,1809-02-12,Washington,DC,4/15/1865,4/15/1865,3/4/1861,Republican Party
16,16,17,Andrew Johnson,Did Not Graduate,Raleigh,NC,1808-12-29,Elizabethton,TN,7/31/1875,3/4/1869,4/15/1865,Democratic Party
17,17,18,Ulysses S. Grant,United States Military Academy,Point Pleasant,OH,1822-04-27,Wilton,NY,7/23/1885,3/4/1877,3/4/1869,Republican Party
18,18,19,Rutherford B. Hayes,"Harvard University, Kenyon College",Delaware,OH,1822-10-04,Fremont,OH,1/17/1893,3/4/1881,3/4/1877,Republican Party
19,19,20,James A. Garfield,"Hiram College, Williams College",Cuyahoga Co.,OH,1831-11-19,Elberon,NJ,9/19/1881,9/19/1881,3/4/1881,Republican Party
20,20,21,Chester A. Arthur,"State and National Law School, Union College",Fairfield,VT,1829-10-05,New York,NY,11/18/1886,3/4/1885,9/19/1881,Republican Party
21,21,22,Grover Cleveland,Did Not Graduate,Caldwell,NJ,1837-03-18,Princeton,NJ,6/24/1908,3/4/1889,3/4/1885,Democratic Party
22,22,23,Benjamin Harrison,Miami University,North Bend,OH,1833-08-20,Indianapolis,IN,3/13/1901,3/4/1893,3/4/1889,Republican Party
23,23,24,Grover Cleveland,Did Not Graduate,Caldwell,NJ,1837-03-18,Princeton,NJ,6/24/1908,3/4/1897,3/4/1893,Democratic Party
24,24,25,William McKinley,Allegheny College,Niles,OH,1843-01-29,Buffalo,NY,9/14/1901,9/14/1901,3/4/1897,Republican Party
25,25,26,Theodore Roosevelt,"Columbia Law School, Harvard University",New York,NY,1858-10-27,Oyster Bay,NY,1/6/1919,4/3/1909,9/14/1901,Republican Party
26,26,27,William Howard Taft,"University of Cincinnati, Yale University",Cincinnati,OH,1857-09-15,Washington,DC,3/8/1930,4/3/1913,4/3/1909,Republican Party
27,27,28,Woodrow Wilson,"Davidson College, Johns Hopkins University, Pr...",Staunton,VA,1856-12-28,Washington,DC,2/3/1924,4/3/1921,4/3/1913,Democratic Party
28,28,29,Warren G. Harding,Ohio Central College,Morrow County,OH,1865-11-02,San Francisco,CA,8/2/1923,2/8/1923,4/3/1921,Republican Party
29,29,30,Calvin Coolidge,Amherst College,Plymouth,VT,1872-07-04,Northampton,MA,1/5/1933,4/3/1929,2/8/1923,Republican Party
30,30,31,Herbert Hoover,Stanford University,West Branch,IA,1874-08-10,New York,NY,10/20/1964,4/3/1933,4/3/1929,Republican Party
31,31,32,Franklin D. Roosevelt,"Columbia University, Harvard University",Hyde Park,NY,1882-01-30,Warm Springs,GA,4/12/1945,4/12/1945,4/3/1933,Democratic Party
32,32,33,Harry S. Truman,"Spalding's Commercial College, University of K...",Lamar,MO,1884-05-08,Kansas City,MO,12/26/1972,1/20/1953,4/12/1945,Democratic Party
33,33,34,Dwight D. Eisenhower,"U.S. Military Academy, United States Army Comm...",Denison,TX,1890-10-14,Washington,DC,3/28/1969,1/20/1961,1/20/1953,Republican Party
34,34,35,John F. Kennedy,"Harvard University, London School of Economics...",Brookline,MA,1917-05-29,Dallas,TX,11/22/1963,11/22/1963,1/20/1961,Democratic Party
35,35,36,Lyndon B. Johnson,"Georgetown University, Texas State University",Stonewall,TX,1908-08-27,Stonewall,TX,1/22/1973,1/20/1969,11/22/1963,Democratic Party
36,36,37,Richard Nixon,"Duke University, Whittier College",Yorba Linda,CA,1913-01-09,New York,NY,4/22/1994,9/8/1974,1/20/1969,Republican Party
37,37,38,Gerald Ford,"University of Michigan, Yale University",Omaha,NE,1913-07-14,Rancho Mirage,CA,12/26/2006,1/20/1977,9/8/1974,Republican Party
38,38,39,Jimmy Carter,"Georgia Institute of Technology, Georgia South...",Plains,GA,1924-10-01,NaN,NaN,NaN,1/20/1981,1/20/1977,Democratic Party
39,39,40,Ronald Reagan,Eureka College,Tampico,IL,1911-02-06,Los Angeles,CA,6/5/2004,1/20/1989,1/20/1981,Republican Party
40,40,41,George H. W. Bush,Yale University,Milton,MA,1924-06-12,Houston,TX,11/30/2018,1/20/1993,1/20/1989,Republican Party
41,41,42,Bill Clinton,"Georgetown University, University of Oxford, Y...",Hope,AR,1946-08-19,NaN,NaN,NaN,1/20/2001,1/20/1993,Democratic Party
42,42,43,George W. Bush,"Harvard University, Yale University",New Haven,CT,1946-07-06,NaN,NaN,NaN,1/20/2009,1/20/2001,Republican Party
43,43,44,Barack Obama,"Columbia University, Harvard University, Occid...",Honolulu,HI,1961-08-04,NaN,NaN,NaN,1/20/2017,1/20/2009,Democratic Party
44,44,45,Donald J. Trump,University of Pennsylvania,New York,NY,1946-06-14,NaN,NaN,NaN,NaN,1/20/2017,Republican Party

In [17]:
#importing presidential zodiac sign csv
zodiac_df= pd.read_csv("presidential_zodiac_sign.csv")
zodiac_df.rename(columns={'Birthday': 'birthday'})
zodiac_df

        President    Birthday         Sign
0      Washington  1732-02-22       Pisces
1        J. Adams  1735-10-30      Scorpio
2       Jefferson  1743-04-13        Aries
3         Madison  1751-03-16       Pisces
4          Monroe  1758-04-28       Taurus
5      J.Q. Adams  1767-07-11       Cancer
6         Jackson  1767-03-15       Pisces
7       Van Buren  1782-12-05  Sagittarius
8   W.H. Harrison  1773-02-09     Aquarius
9            Polk  1795-11-02      Scorpio
10         Taylor  1784-11-24  Sagittarius
11         Pierce  1804-11-23  Sagittarius
12       Buchanan  1791-04-23       Taurus
13        Lincoln  1809-02-12     Aquarius
14          Grant  1822-04-27       Taurus
15          Hayes  1822-10-04        Libra
16       Garfield  1831-11-19      Scorpio
17      Cleveland  1837-03-18       Pisces
18    B. Harrison  1833-08-20          Leo
19       McKinley  1843-01-29     Aquarius
20   T. Roosevelt  1858-10-27      Scorpio
21           Taft  1857-09-15        Virgo
22         Wilson  1856-12-28    Capricorn
23        Harding  1865-11-02      Scorpio
24       Coolidge  1872-07-04       Cancer
25         Hoover  1874-08-10          Leo
26   F. Roosevelt  1882-01-30     Aquarius
27         Truman  1884-05-08       Taurus
28     Eisenhower  1890-10-14        Libra
29        Kennedy   5/29/2017       Gemini
30     L. Johnson   8/27/1908        Virgo
31          Nixon    1/9/1913    Capricorn
32         Carter   10/1/1924        Libra
33         Reagan    2/6/1911     Aquarius
34    G.H.W. Bush   6/12/1924       Gemini
35        Clinton   8/19/1946          Leo
36      G.W. Bush    7/6/1946       Cancer
37          Obama    8/4/1961          Leo
38          Trump   1946-0614       Gemini
39          Biden  11/20/1942       Taurus

In [18]:
# pres_zodiac_df =pd.merge(birthday_df, zodiac_df, on='birthday')
# pres_zodiac_df.head(10)

NameError: name 'birthday_df' is not defined