## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
pres_gdp = pd.read_csv("presidentfinal_df.csv")
pres_bday = pd.read_csv("birthdates-of-us-presidents.csv")
pres_bday=pres_bday.drop("csvbase_row_id",axis=1)
pres_bday = pres_bday.rename(columns={"Date of birth":"birthday","Name":"name"})
pres_gdp=pres_gdp.rename(columns={  'Year':'year',
                                    'President':'president',
                                    'Party':'party',
                                    'Nominal GDP (million of Dollars)':"nominal_gdp(million_of_dollars)",
                                    'Real GDP (millions of 2017 dollars)':'real_gdp(millions_of_2017_dollars)',
                                    'GDP Deflator (index 2017=100)':'gdp_deflator_(index_2017=100)',
                                    'Population':'population',
                                    'Nominal GDP per capita (current dollars)':'nominal_gdp_per_capita_(current_dollars)',
                                    'Real GDP per capita (year 2017 dollars)':'real_gdp_per_capita_(year_2017_dollars)'
})

In [3]:
pres_gdp.head(10)

,year,president,party,nominal_gdp(million_of_dollars),real_gdp(millions_of_2017_dollars),gdp_deflator_(index_2017=100),population,nominal_gdp_per_capita_(current_dollars),real_gdp_per_capita_(year_2017_dollars)
0,1789,George Washington,NaN,138.66,6894.01,2.01,6698461.39,20.7,1029.19
1,1790,George Washington,NaN,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
2,1791,George Washington,NaN,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
3,1792,George Washington,NaN,230,"5,663",4.05,"4,171,000",55.03,"1,357.63"
4,1793,George Washington,NaN,256,"6,113",4.19,"4,297,000",59.67,"1,422.52"
5,1794,George Washington,NaN,321,"6,905",4.65,"4,428,000",72.56,"1,559.46"
6,1795,George Washington,NaN,390,"7,331",5.32,"4,562,000",85.53,"1,607.03"
7,1796,George Washington,NaN,423,"7,553",5.60,"4,700,000",90.06,"1,606.92"
8,1797,John Adams,Federalist,415,"7,692",5.39,"4,843,000",85.65,"1,588.26"
9,1798,John Adams,Federalist,418,"8,009",5.22,"4,990,000",83.73,"1,605.09"

In [4]:
pres_bday = pres_bday.rename(columns={"name" : "president"})
pres_bday.head()

           president    birthday
0  George Washington  1732-02-22
1         John Adams  1735-10-30
2   Thomas Jefferson  1743-04-13
3      James Madison  1751-03-16
4       James Monroe  1758-04-28

In [5]:
joined_df = pres_bday.merge(pres_gdp, on="president", how="left")

joined_df['party'].fillna("none", inplace=True)

joined_df.fillna(0, inplace=True)

joined_df.head()

,president,birthday,year,party,nominal_gdp(million_of_dollars),real_gdp(millions_of_2017_dollars),gdp_deflator_(index_2017=100),population,nominal_gdp_per_capita_(current_dollars),real_gdp_per_capita_(year_2017_dollars)
0,George Washington,1732-02-22,1789.0,none,138.66,6894.01,2.01,6698461.39,20.7,1029.19
1,George Washington,1732-02-22,1790.0,none,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
2,George Washington,1732-02-22,1791.0,none,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
3,George Washington,1732-02-22,1792.0,none,230,"5,663",4.05,"4,171,000",55.03,"1,357.63"
4,George Washington,1732-02-22,1793.0,none,256,"6,113",4.19,"4,297,000",59.67,"1,422.52"

In [6]:
base_df = joined_df.copy()

base_df= base_df[['president', 'birthday','year','party','nominal_gdp(million_of_dollars)','nominal_gdp_per_capita_(current_dollars)']]

base_df.head()

,president,birthday,year,party,nominal_gdp(million_of_dollars),nominal_gdp_per_capita_(current_dollars)
0,George Washington,1732-02-22,1789.0,none,138.66,20.7
1,George Washington,1732-02-22,1790.0,none,193,49.1
2,George Washington,1732-02-22,1791.0,none,210,51.89
3,George Washington,1732-02-22,1792.0,none,230,55.03
4,George Washington,1732-02-22,1793.0,none,256,59.67

In [7]:
drop_df = base_df.drop(columns=["president",'party'])
drop_df.head()

,birthday,year,nominal_gdp(million_of_dollars),nominal_gdp_per_capita_(current_dollars)
0,1732-02-22,1789.0,138.66,20.7
1,1732-02-22,1790.0,193,49.1
2,1732-02-22,1791.0,210,51.89
3,1732-02-22,1792.0,230,55.03
4,1732-02-22,1793.0,256,59.67

In [8]:
# Convert categorical data to numeric with `pd.get_dummies` --- creates booleans of the categories
dummy_df1 = base_df[['president','party']]

dummy_df1.index=base_df['year']

dummy_df2 = pd.get_dummies(dummy_df1)

dummy_df2.head()

,president_Abraham Lincoln,president_Andrew Jackson,president_Andrew Johnson,president_Barack Obama,president_Benjamin Harrison,president_Bill Clinton,president_Calvin Coolidge,president_Chester A. Arthur,president_Donald Trump,president_Dwight D. Eisenhower,...,president_William McKinley,president_Woodrow Wilson,president_Zachary Taylor,party_Democrat,party_Democratic-Republican,party_Federalist,party_National Union,party_Republican,party_Whig,party_none
year,,,,,,,,,,,,,,,,,,,,,
1789.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1790.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1791.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1792.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1793.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [9]:
dummy_df3 = pd.merge(drop_df, dummy_df2, on="year")

dummy_df3['birthday'] = pd.to_datetime(dummy_df3['birthday'])

dummy_df3.head()

,birthday,year,nominal_gdp(million_of_dollars),nominal_gdp_per_capita_(current_dollars),president_Abraham Lincoln,president_Andrew Jackson,president_Andrew Johnson,president_Barack Obama,president_Benjamin Harrison,president_Bill Clinton,...,president_William McKinley,president_Woodrow Wilson,president_Zachary Taylor,party_Democrat,party_Democratic-Republican,party_Federalist,party_National Union,party_Republican,party_Whig,party_none
0,1732-02-22,1789.0,138.66,20.7,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1732-02-22,1790.0,193,49.1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1732-02-22,1791.0,210,51.89,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1732-02-22,1792.0,230,55.03,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1732-02-22,1793.0,256,59.67,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [10]:
# lets split x and y for the modeling
X = dummy_df3['birthday']
X.head()

0   1732-02-22
1   1732-02-22
2   1732-02-22
3   1732-02-22
4   1732-02-22
Name: birthday, dtype: datetime64[ns]

In [11]:
y= dummy_df3.drop(columns=['birthday','year'])
y.head()

,nominal_gdp(million_of_dollars),nominal_gdp_per_capita_(current_dollars),president_Abraham Lincoln,president_Andrew Jackson,president_Andrew Johnson,president_Barack Obama,president_Benjamin Harrison,president_Bill Clinton,president_Calvin Coolidge,president_Chester A. Arthur,...,president_William McKinley,president_Woodrow Wilson,president_Zachary Taylor,party_Democrat,party_Democratic-Republican,party_Federalist,party_National Union,party_Republican,party_Whig,party_none
0,138.66,20.7,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,193,49.1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,210,51.89,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,230,55.03,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,256,59.67,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [19]:
# Split the preprocessed data into a training and testing dataset -- choose to stratify so that the classes are more balanced out bc it's a small dataset and imbalanced
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.2, random_state=42)

In [18]:
# Assuming X_train and X_test are your features
X_train = X_train.reshape(-1, 1)

X_test = X_test.reshape(-1, 1)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler on the training data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

AttributeError: 'Series' object has no attribute 'reshape'

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

input_shape = X.shape[1] # number of columns in the dataset

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_shape=(input_shape,))) # first layer inputting shape to avoid keras error message

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model

# define optimizer -- these can be adam(go-to), SGD(basic), RMSProp(RNN,online learning), Adagrad(sparse data, text processing), adadelta(better adagrad)
# define loss function -- these can be binary crossentropy, categorical crossentropy, mean squared or error (continuous data), hinge loss
# define metrics -- for classification like this--- this is usually "accuracy"

# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',    # Loss function: Binary crossentropy for binary classification
           metrics=['accuracy'])

In [ ]:
# Train the model
nn.fit(X_train_scaled,
       y_train,
       epochs = 10,
       batch_size = 32,
       shuffle = True,
       verbose = 2,
       validation_data=(X_test_scaled, y_test))

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save('alphabet_soupv1.h5')

#nn.save('alphabet_soupv1.keras')   # another way of saving this, but hw requires h5